.alifbe-container {
  display: flex;
  min-height: calc(100vh - 70px); /* Navbar balandligi bo‘lsa */
  background: #626874;
}

/* Sidebar va Mainni to‘g‘ri joylashtirish */
.alifbe-sidebar {
  width: 260px;
  height: 100%;
  background: #1b1b22;
  overflow-y: auto;
}

/* Main stretching */
.alifbe-main-wrapper {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Desktop */
@media (min-width: 1024px) {
  .alifbe-container {
    flex-direction: row;
  }
}

/* Mobile */
@media (max-width: 1023px) {
  .alifbe-container {
    flex-direction: column;
  }

  .alifbe-sidebar {
    width: 100%;
    height: auto;
  }
}
